footer {
    width: 100%;
    height: 784px;
    display: flex;
    bottom: 0;
    background: #1F2335;
}

.footer_addres_conteiner {
    width: 40%;
    height: 82%;
    display: grid;
    margin-left: 15%;
    margin-top: 140px;
}
.footer_addres_conteiner h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #6AA3FC;

}

.footer_addres_conteiner p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 16px;
}

.footer_addres_conteiner ul {
    position: relative;
    top: 36px;
    width: 293px;

}

.footer_addres_conteiner li {
width: 100%;
    list-style: none;
    margin-top: 24px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FFFFFF;
display: grid;
}



/*право*/

.footer_other {
    width: 40%;
    height: 50%;
    display: flex;
    margin-right: 8%;
margin: 140px auto;
}

.footer_addres_conteiner_first{
margin-right: 10%;
}

.footer_addres_conteiner_first h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #6AA3FC;

}

.footer_addres_conteiner_first p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 16px;
}

.footer_addres_conteiner_first ul {
    position: relative;
    top: 36px;
    width: 293px;

}


.footer_addres_conteiner_first li {
    list-style: none;
    margin-top: 24px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FFFFFF;
display: grid;
}

.footer_addres_conteiner_second h2 {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #6AA3FC;

}

.footer_addres_conteiner_second p {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin-top: 16px;
}

.footer_addres_conteiner_second  ul {
    position: relative;
    top: 36px;
}

.footer_addres_conteiner_second li {
    list-style: none;
    margin-top: 24px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FFFFFF;
display: grid;
position: relative;
bottom: 30px
}

@media (max-width:1500px) {
.footer-section_list{
        width: 81%;
margin-left: 30%

}
.footer_addres_conteiner {
    width: 30%;
    }

.footer_other {
    width: 40%;
    height: 50%;
    display: flex;
    margin-right: 7%;
}

.footer_addres_conteiner_first {
    margin-right: 0;
}
}

@media (max-width:1200px) {

    .footer-section_list{
        width: 61%;
margin-left: 20%

}
.footer_other {
    width: 46%;
    height: 50%;
    display: flex;
    margin-right: 8%;
    margin: 140px auto;
}

.footer_addres_conteiner_first ul {
    position: relative;
    top: 36px;
    width: 234px;
}
.footer_addres_conteiner_first {
    margin-right: 0;
}
}


